@page "/clients/{Id:int}"
@inject HttpClient Http

<PageTitle>Klijent</PageTitle>

<h1>@Client?.Name</h1>

@if (Client == null) {
    <div>Loading...</div>
} else {
    <div class="">
        <div class="flex">
            <div class="mr-2">Mesto:</div>
            <div class="font-bold">@Client.City</div>
        </div>
        <div class="flex">
            <div class="mr-2">Adresa:</div>
            <div class="font-bold">@Client.Address</div>
        </div>
        <div class="flex">
            <div class="mr-2">Email:</div>
            <div class="font-bold">@Client.Email</div>
        </div>
        <div class="flex">
            <div class="mr-2">Kontakt:</div>
            <div class="font-bold">@Client.Phone</div>
        </div>
        <div class="flex">
            <div class="mr-2">Kontakt2:</div>
            <div class="font-bold">@Client.Phone2</div>
        </div>
        <div class="flex">
            <div class="mr-2">Referent:</div>
            <div class="font-bold">@Client.Referent</div>
        </div>
        <div class="flex">
            <div class="mr-2">Napomena:</div>
            <div class="font-bold">@Client.Note</div>
        </div>
    </div>
}


@code {
    @using VatroClient.Models

    [Parameter]
    public int Id { get; set; }

    private Client? Client;

    protected override async Task OnInitializedAsync()
    {
        Client = await Http.GetFromJsonAsync<Client>("/api/client/" + Id);
    }
}
